@charset "UTF-8";

@font-face {
  font-family: "gwos-icons";
  src:url("fonts/gwos-icons.eot");
  src:url("fonts/gwos-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/gwos-icons.woff") format("woff"),
    url("fonts/gwos-icons.ttf") format("truetype"),
    url("fonts/gwos-icons.svg#gwos-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gwos-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="gwos-"]:before,
[class*=" gwos-"]:before {
  font-family: "gwos-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gwos-tooth:before {
  content: "\61";
}
.gwos-angle-down:before {
  content: "\63";
}
.gwos-angle-right:before {
  content: "\64";
}
.gwos-angle-up:before {
  content: "\65";
}
.gwos-angle-left:before {
  content: "\66";
}
.gwos-arrow-down:before {
  content: "\67";
}
.gwos-arrow-up:before {
  content: "\68";
}
.gwos-arrow-right:before {
  content: "\69";
}
.gwos-arrow-left:before {
  content: "\6a";
}
.gwos-sign-out:before {
  content: "\6b";
}
.gwos-sign-in:before {
  content: "\6c";
}
.gwos-undo:before {
  content: "\6d";
}
.gwos-upload:before {
  content: "\6e";
}
.gwos-arrows:before {
  content: "\6f";
}
.gwos-cogs:before {
  content: "\70";
}
.gwos-sort:before {
  content: "\71";
}
.gwos-sort-up:before {
  content: "\73";
}
.gwos-sort-down:before {
  content: "\74";
}
.gwos-filter:before {
  content: "\75";
}
.gwos-umbrella:before {
  content: "\76";
}
.gwos-shield:before {
  content: "\78";
}
.gwos-tachometer:before {
  content: "\79";
}
.gwos-pencil:before {
  content: "\7a";
}
.gwos-edit:before {
  content: "\41";
}
.gwos-close-circled:before {
  content: "\42";
}
.gwos-close:before {
  content: "\43";
}
.gwos-home:before {
  content: "\44";
}
.gwos-money:before {
  content: "\45";
}
.gwos-tag:before {
  content: "\47";
}
.gwos-book:before {
  content: "\49";
}
.gwos-bookmark:before {
  content: "\4a";
}
.gwos-bookmark-o:before {
  content: "\4b";
}
.gwos-envelope:before {
  content: "\4c";
}
.gwos-envelope-o:before {
  content: "\4d";
}
.gwos-user:before {
  content: "\4e";
}
.gwos-user-md:before {
  content: "\4f";
}
.gwos-file-text-o:before {
  content: "\51";
}
.gwos-file-text:before {
  content: "\52";
}
.gwos-files:before {
  content: "\53";
}
.gwos-folder:before {
  content: "\54";
}
.gwos-folder-o:before {
  content: "\55";
}
.gwos-foot:before {
  content: "\58";
}
.gwos-clock:before {
  content: "\59";
}
.gwos-phone:before {
  content: "\5a";
}
.gwos-cog:before {
  content: "\30";
}
.gwos-maintenance:before {
  content: "\31";
}
.gwos-pill:before {
  content: "\32";
}
.gwos-medkit:before {
  content: "\33";
}
.gwos-hospital:before {
  content: "\34";
}
.gwos-ambulance:before {
  content: "\35";
}
.gwos-heart:before {
  content: "\36";
}
.gwos-heart-o:before {
  content: "\37";
}
.gwos-heartbeat:before {
  content: "\38";
}
.gwos-download:before {
  content: "\39";
}
.gwos-map-marker:before {
  content: "\22";
}
.gwos-thumb-tack:before {
  content: "\23";
}
.gwos-navicon:before {
  content: "\24";
}
.gwos-link:before {
  content: "\25";
}
.gwos-building-o:before {
  content: "\26";
}
.gwos-building:before {
  content: "\27";
}
.gwos-dollar:before {
  content: "\46";
}
.gwos-comments:before {
  content: "\29";
}
.gwos-comments-o:before {
  content: "\2a";
}
.gwos-commenting-o:before {
  content: "\2b";
}
.gwos-commenting:before {
  content: "\2c";
}
.gwos-comment-o:before {
  content: "\2d";
}
.gwos-comment:before {
  content: "\2e";
}
.gwos-star:before {
  content: "\2f";
}
.gwos-star-half:before {
  content: "\3a";
}
.gwos-star-half-o:before {
  content: "\3b";
}
.gwos-star-o:before {
  content: "\3c";
}
.gwos-plus:before {
  content: "\3d";
}
.gwos-plus-circle:before {
  content: "\3e";
}
.gwos-table:before {
  content: "\3f";
}
.gwos-mobile:before {
  content: "\40";
}
.gwos-window-list:before {
  content: "\5d";
}
.gwos-list:before {
  content: "\5b";
}
.gwos-reorder:before {
  content: "\5e";
}
.gwos-ellipse:before {
  content: "\5f";
}
.gwos-bell-o:before {
  content: "\60";
}
.gwos-bell:before {
  content: "\7b";
}
.gwos-lock:before {
  content: "\7c";
}
.gwos-unlock:before {
  content: "\7d";
}
.gwos-inbox:before {
  content: "\7e";
}
.gwos-camera:before {
  content: "\5c";
}
.gwos-hand-shake:before {
  content: "\e000";
}
.gwos-search:before {
  content: "\e001";
}
.gwos-archive:before {
  content: "\e002";
}
.gwos-gavel:before {
  content: "\e003";
}
.gwos-stethoscope:before {
  content: "\e004";
}
.gwos-paperclip:before {
  content: "\e005";
}
.gwos-caduceus:before {
  content: "\e006";
}
.gwos-id-card:before {
  content: "\e008";
}
.gwos-server:before {
  content: "\e009";
}
.gwos-exclamation:before {
  content: "\e00a";
}
.gwos-briefcase:before {
  content: "\e00b";
}
.gwos-alert:before {
  content: "\e00c";
}
.gwos-trash:before {
  content: "\e00d";
}
.gwos-trash-o:before {
  content: "\e00e";
}
.gwos-expand:before {
  content: "\e00f";
}
.gwos-arrows-alt:before {
  content: "\e010";
}
.gwos-compress:before {
  content: "\e011";
}
.gwos-spinner:before {
  content: "\e012";
}
.gwos-hourglass-half:before {
  content: "\e013";
}
.gwos-pause:before {
  content: "\e014";
}
.gwos-refresh:before {
  content: "\e015";
}
.gwos-minus-round:before {
  content: "\e016";
}
.gwos-minus-circle:before {
  content: "\e017";
}
.gwos-circle:before {
  content: "\e018";
}
.gwos-sticky-note-o:before {
  content: "\e019";
}
.gwos-sticky-note:before {
  content: "\e01a";
}
.gwos-info-circle:before {
  content: "\e01b";
}
.gwos-help:before {
  content: "\e01c";
}
.gwos-help-circle:before {
  content: "\e01d";
}
.gwos-play:before {
  content: "\e01e";
}
.gwos-shuffle:before {
  content: "\e01f";
}
.gwos-open-folder-o:before {
  content: "\72";
}
.gwos-open-folder:before {
  content: "\56";
}
.gwos-car:before {
  content: "\57";
}
.gwos-chart-pie:before {
  content: "\e020";
}
.gwos-bar-chart:before {
  content: "\e021";
}
.gwos-line-chart:before {
  content: "\e007";
}
.gwos-network:before {
  content: "\28";
}
.gwos-flow-tree:before {
  content: "\e022";
}
.gwos-window:before {
  content: "\e023";
}
.gwos-fork:before {
  content: "\e024";
}
.gwos-eye:before {
  content: "\62";
}
.gwos-child:before {
  content: "\77";
}
.gwos-laptop:before {
  content: "\e025";
}
.gwos-list-add:before {
  content: "\e026";
}
.gwos-microphone:before {
  content: "\e028";
}
.gwos-users:before {
  content: "\e027";
}
.gwos-sitemap:before {
  content: "\50";
}
.gwos-target:before {
  content: "\21";
}
.gwos-print:before {
  content: "\e02a";
}
.gwos-floppy-o:before {
  content: "\e02b";
}
.gwos-external-link:before {
  content: "\e02c";
}
.gwos-credit-card:before {
  content: "\e02d";
}
.gwos-lightbulb:before {
  content: "\e02e";
}
.gwos-flask:before {
  content: "\e02f";
}
.gwos-flag:before {
  content: "\48";
}
.gwos-flag-o:before {
  content: "\e029";
}
.gwos-compass:before {
  content: "\e030";
}
.gwos-trophy:before {
  content: "\e031";
}
.gwos-search-minus:before {
  content: "\e032";
}
.gwos-search-plus:before {
  content: "\e033";
}
.gwos-map:before {
  content: "\e034";
}
.gwos-law:before {
  content: "\e035";
}
.gwos-x-ray:before {
  content: "\e036";
}
.gwos-dumbbell:before {
  content: "\e037";
}
.gwos-check:before {
  content: "\e038";
}
